.nav-item {
  width: fit-content;
  margin: auto;
}

/* nav style */
.cover-container {
  max-width: 42em;
}

/* nav logo  */
.navbar-brand {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    width: 150px;
  }
}
