/* Import the Google Font 'Lato' */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Container styles */
body {
  background-color: #fff;
  color: #333;
  font-family: 'Lato';
}

.container {
  
  padding: 20px 0 0 0;
  text-align: center;

}

.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 15px;
  text-align: center;

}

.bar{
  padding-top: 5px;

}

.chart figcaption {

  width: 127px;
  height: 127px;
  border: 12px solid #f0f0f0;
  border-radius: 100px;
  line-height: 50px;
  -moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
  -webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
  box-shadow:inset 0px 0px 6px -2px rgba(20%,20%,40%,0.5);
}


.chart img {
  position: absolute;
  max-width: 70px;
  max-height: 70px;

}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.high {
  top: 30%;
  left: 23%;
  display:block;
  margin:auto;

}

.high + svg .outer {
  stroke: #e34f26;

}


.moderate {
  top: 30%;
  left: 23%;
  display:block;
  margin:auto;
}

.moderate + svg .outer {
  stroke: #f0e040;
}

.low {
  top: 30%;
  left: 23%;
  display:block;
  margin:auto;
}

.low + svg .outer {
  stroke: #83cd29;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;


}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 15;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;

  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);

}

/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;

}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}
/* END Keyframes for the initial animation */
